<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; margin: 0; padding: 0; background-color: #f4f4f4;">
    <div style="max-width: 800px; margin: 40px auto; padding: 20px; border-radius: 12px; background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div style="text-align: center; margin-bottom: 20px; padding: 20px; background-color: #349bdb; border-radius: 12px 12px 0 0;">
            <img src="https://scontent.fmex3-2.fna.fbcdn.net/v/t39.30808-6/421568288_373976665277212_6283961945397069301_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=6a2JytUbj5YQ7kNvgHKYPBR&_nc_ht=scontent.fmex3-2.fna&_nc_gid=AtnuQkJpyOkgHPqV5HZVmEl&oh=00_AYCKuwTxKQ60X0Cijs-szvg1TqY1wpPflhMt19fmEx0XGg&oe=66ED06A8" alt="Logo" style="max-width: 200px; width: 100%; height: auto; border-radius: 8px; background-color: #ffffff; padding: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        </div>
        <div style="line-height: 1.6; padding: 20px; background-color: #ffffff; border-radius: 0 0 12px 12px;">
            <h2 style="color: #349bdb; margin-bottom: 20px; font-size: 24px;">Nuevo Mensaje de Contacto</h2>
            <p style="margin: 10px 0; font-size: 16px;"><strong style="color: #85a1c1;">De:</strong> {{ nombre }}</p>
            <p style="margin: 10px 0; font-size: 16px;"><strong style="color: #85a1c1;">Correo Electrónico:</strong> {{ correo }}</p>
            <p style="margin: 10px 0; font-size: 16px;"><strong style="color: #85a1c1;">Asunto:</strong> {{ asunto }}</p>
            <p style="margin: 10px 0; font-size: 16px;"><strong style="color: #85a1c1;">Mensaje:</strong></p>
            <p style="margin: 10px 0; font-size: 16px;">{{ mensaje }}</p>
        </div>
        <div style="text-align: center; margin-top: 20px; font-size: 0.9em; color: #fff; background-color: #349bdb; border-top: 1px solid #349bdb; padding: 10px 20px; border-radius: 0 0 12px 12px;">
            <p style="margin: 0;">Este es un correo automático, por favor no respondas.</p>
        </div>
    </div>
</body>
</html>
